@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@fortawesome/fontawesome-free/css/all.css';

body {
  font-family: 'Roboto', sans-serif;
}

.btn {
  @apply text-white font-bold py-2 px-4 border-b-4 rounded
}

.create-quiz-btn {
  @apply bg-yellow-500 hover:bg-yellow-400 border-yellow-700 hover:border-yellow-500
}

.ai-btn {
  @apply bg-cyan-500 hover:bg-cyan-400 border-cyan-700 hover:border-cyan-500
}

.add-btn {
  @apply bg-teal-500 hover:bg-teal-400 text-white font-bold py-2 px-4 border-b-4 border-teal-700 hover:border-teal-500 rounded
}

.add-quiz-btn {
  @apply bg-emerald-500 hover:bg-emerald-400 border-emerald-700 hover:border-emerald-500
}

.delete-btn {
  @apply bg-red-500 hover:bg-red-400 border-red-700 hover:border-red-500
}

.mark-btn {
  @apply bg-green-500 hover:bg-green-400 border-green-700 hover:border-green-500
}

textarea {
  resize: none;
}

.highlighted {
  @apply border-2 border-green-300
}

.selected {
  @apply border-2 border-teal-300
}

.tab-trigger {
  @apply inline-flex items-center justify-center whitespace-nowrap rounded-sm px-3 py-1.5 text-sm font-medium ring-offset-white transition-all focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-slate-400 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 data-[state=active]:bg-white data-[state=active]:text-slate-950 data-[state=active]:shadow-sm dark:ring-offset-slate-950 dark:focus-visible:ring-slate-800 dark:data-[state=active]:bg-slate-950 dark:data-[state=active]:text-slate-50
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}